# Documents
*.docx
*.xls
*.pdf

# Zipped Objects
*.zip
*.7z
*.rar
*.rar3

# IDE , TextEditor and Jupyter Files and Folders
/.vscode
/.idea
/venv

# old Jupyter Notebook
Movie_DataViz(Depricated).ipynb
# kept for reference

